.Home {
    height: 78vh;
    background: 
        linear-gradient(336deg, rgba(236, 152, 104, 0.8), rgba(255, 255, 255, 0) 55%),
        linear-gradient(217deg, rgba(220, 237, 200, 1), rgba(255, 255, 255, 0) 70%),
        linear-gradient(127deg, rgba(178, 235, 242, 1), rgba(255, 255, 255, 0) 65%);
}

.Home-login-div {
    margin: 13% 0 0 13%;
}

.Home-login-div h2 {
    color: rgba(0, 86, 98, 1);
    font-size: xx-large;
    font-family: 'Bree Serif', serif;
    letter-spacing: 1.25px;
    word-spacing: 3px;
}

.Home-login-div p {
    color: rgb(95, 111, 126);
    font-family: 'Roboto Slab', serif;
}

.Home-img-container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Home img {
    margin: auto;
    max-height: 78vh;
    opacity: 50%;
    transform: scale(108%);
}
