.Navbar {
    padding-top: 30px;
    padding-bottom: 20px;
    align-items: baseline;
}

.Navbar-navlink {
    padding: 9px;
}

.Navbar-logo {
    font-family: 'Bree Serif', serif;
    text-align: center;
    display: flex;
    align-items: baseline;
    font-size: x-large;
    position: relative;
    bottom: 10px;
    color: rgba(0, 86, 98, 1);
}

.Navbar-logo span {
    font-size: xx-large;
}

.Navbar a {
    padding: 9px;
    text-decoration: none;
}

.Navbar-signup-btns button {
    min-width: 215px;
    text-align: center;
}
