.Navbar {
    padding-top: 40px;
    padding-bottom: 25px;
    align-items: baseline;
}

.Navbar a {
    padding: 9px;
    text-decoration: none;
}

.Navbar-logo {
    font-family: 'Bree Serif', serif;
    text-align: center;
    display: flex;
    align-items: baseline;
    font-size: x-large;
    position: relative;
    bottom: 10px;
    color: rgb(52, 60, 68);
}

.Navbar-logo span {
    font-size: xx-large;
}