.InstrumentCard-footer {
    min-height: 24.5px;
    padding: 6px 0px;
    color: #005662;
    font-weight: bolder;
}

.InstrumentCard-footer-right {
    text-align: right;
}

.InstrumentCard-content {
    min-height: 180px;
}

.InstrumentCard-btn {
    font-weight: bolder;
}

.InstrumentCard-image {
    max-width: 200px;
    max-height: 200px;
}

.InstrumentCard-Chip {
    margin: 2px;
}